.login-background {
    background: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-content {
    background: var(--color-white-95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgb(0 0 0 / 50%);
    font-size: 1em;
    max-width: 350px;
    width: 350px;
    overflow: hidden;
    transition: transform .15s ease-in;
}

.login-workflow-animate {
    transition: transform .15s ease;
}

.login-workflow-content {
    display: flex;
    gap: 80px;
    transform: translateX(-860px);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.login-title-container {
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-navigate-btn {
    background-color: var(--color-background-secondary);
    padding: 5px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    border: solid 1px var(--color-border-accent);
}

.login-navigate-btn:hover {
    background-color: var(--color-border-accent);
}

input[type=text]:not(.recipe-list-search):not(.grocery-list-add):not(.grocery-list-search),
input[type=password] {
    width: 300px;
    height: 25px;
    border-radius: 4px;
    border: solid var(--color-border) 1px;
    outline: none;
    padding: 5px;
    font-size: 1em;
}

.login-input-header {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 1.15em;
}

.login-input-container {
    padding-bottom: 10px;
}

.login-forgot-password {
    text-align: end;
    margin-top: 5px;
}

.login-login-btn {
    margin-top: 20px;
}

.login-error-msg {
    max-height: 50px;
    overflow: auto;
    padding: 5px;
    color: red;
    min-height: 21px;
    text-align: center;
    margin: 10px 0px;
}

.login-register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.login-register-title {
    font-size: 1.15em;
    margin-bottom: 5px;
}

.btn {
    font-size: 1.15em;
}

.login-forgot-msg {
    text-align: center;
    margin: 2em 0;
}

.login-workflow-content>div {
    min-width: 100%;
}

.login-reset-sent-title {
    margin-top: 2em;
    margin-bottom: 0.75em;
    text-align: center;
}

.login-reset-resend-title {
    margin-bottom: 0.5em;
    margin-top: 2em;
    text-align: center;
    font-style: italic;
}

.login-timer {
    font-size: 12px;
    text-align: center;
    padding-top: 0.5em;
}

.login-password-hint {
    display: flex;
    align-items: center;
    gap: 5px;
}

.login-password-hint-container {
    text-align: left;
    padding-top: 0.25em;
    width: 310px;
}

.login-password-update-title {
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-align: center;
}

.login-password-updated-title {
    margin-top: 7em;
    margin-bottom: 0.75em;
    text-align: center;
}

.login-register-email {
    padding-top: 2em;
}

.login-register-msg {
    margin-top: 2em;
    text-align: center;
}

.login-items {
    transform: translateY(75px);
    opacity: 0;
}

.login-show {
    transform: translateY(0px);
    transition: all .75s ease-in;
    opacity: 1;
}

@media only screen and (max-width: 430px) {
    .login-content {
        padding: 5px;
        padding-top: 30px;
    }

    .splitter {
        width: calc(100% - 40px);
    }
}