.recipe-list {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px var(--color-border-accent);
}

.grocery-list {
    background: white;
    border: solid 1px var(--color-border-accent);
    border-radius: 10px;
    padding: 20px;
    flex: .4 1;
}