.recipe-list-items>.recipe-card {
    margin: 10px 0;
}

.recipe-list-search {
    font-size: 1.25em;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 4px;
    outline: none;
    border: solid 1px var(--color-border);
    margin: 15px 0;
}

.recipe-list-title {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 10px;
}

.recipe-list-items {
    max-height: 1000px;
    overflow: auto;
}

.recipe-list-items::-webkit-scrollbar {
    background: var(--color-white);
}

.recipe-list-msg {
    text-align: center;
    color: var(--color-border);
    border: solid 1px var(--color-border);
    padding: 20px;
    font-style: italic;
    border-radius: 4px;
}

.btn-custom-search {
    border: solid 1px var(--color-border);
    display: inline-flex;
    margin-top: 20px;
    gap: 5px;
}

.btn.btn-custom-search:hover {
    background-color: var(--color-background-secondary);
}

.btn-search-icon {
    transform: rotateZ(90deg);
}