:root {
    --color-border:#808080;
    --color-success: darkolivegreen;
    --color-success-accent: olive;
    --color-primary: navy;
    --color-primary-accent: rgb(72 72 137);
    --color-white-95: #ffffffe0;
    --color-link: dodgerblue;
    --color-link-accent: rgb(86, 171, 255);
    --color-white-20: #ffffff4f;
    --color-white-60: #ffffff94;
    --color-danger: darkred;
    --color-danger-accent: red;
    --color-background-secondary: #F5F5F5;
    --color-hover: #1e8fff1b;
    --color-border-accent: #dbdbdb;
    --color-white: white;
    --color-black: black;
    --color-danger-light: #8b000026;
}